
  <div class="foottext container-fluid">
  <small>
   ©COPYRIGHT
  </small>
    <ul class="onder">
      <li>
  <%=link_to 'ALGEMENE VOORWAARDEN', footer_algemene_voorwaarden_path %>
</li>
<li>
    <%=link_to 'DISCLAIMER', footer_disclaimer_path %>
</li>
<li>
      <%=link_to 'PRIVACY', footer_privacy_path %>
</li>
<li>
      <%=link_to 'KLACHTEN', footer_klachten_path %>
</li>
<li>
        <%=link_to 'TARIEVEN', footer_tarieven_path %>
</li>
<!--<li>
        <%=link_to 'VEELGESTELDE VRAGEN', footer_veelgestelde_vragen_path %>
</li>-->
  </ul>
    <ul class="naast">
      <li><%=link_to 'OVER', navbar_home_path %></li>
    <li><%=link_to 'CONTACT', navbar_contact_path %></li>
    <li>
    </ul>
</div>
