<nav role="navigation">
  <div class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top  navbar-toggleable-md" id="mynavbar">
    <button class="navbar-toggler navbar-toggler-right navbar-default"
    type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false"
    aria-label="Toggle navigation" style="default; height: auto;"
    id="navbarbutton" >
      <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
      <div class="navbar-header navbar-brand" id="logo">
        <%=link_to 'CesarWise', navbar_home_path, :style=> 'color:#FFFFFF;', class: 'logo'  %>


      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav ml-auto">
          <li class= "nav-item""<%= 'active' if current_page?(navbar_over_path) %>"><%=link_to 'OVER', navbar_over_path, :style=> 'color:#FFFFFF' %>
          </li>
          <li class= "nav-item""<%= 'active' if current_page?(navbar_in_balans_path) %>"><%=link_to 'IN BALANS', navbar_in_balans_path, :style=> 'color:#FFFFFF' %>
          </li>
          <li class="nav-item""<%= 'active' if current_page?(navbar_diensten_path) %>"><%=link_to 'SPECIALISATIES', navbar_diensten_path, :style=> 'color:#FFFFFF' %>
          </li>
          <li class="nav-item""<%= 'active' if current_page?(navbar_samenwerkingen_path) %>"><%=link_to 'PARTNERS', navbar_samenwerkingen_path, :style=> 'color:#FFFFFF' %>
          </li>
          <li class="nav-item""<%= 'active' if current_page?(navbar_contact_path) %>">  <%=link_to 'CONTACT', navbar_contact_path, :style=> 'color:#FFFFFF' %>
          </li>


        </ul>
      </div>

  </div>
</nav>

<script>
$(document).on('click',function(){
$('.collapse').collapse('hide');
})
</script>
